body {
    /* remove the default margin and padding */
    margin: 0;
    padding: 0;

}
* {
    box-sizing: border-box;
}

 .nwt-monitor-screenshots-container-cli {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;   
    
}
.nwt-monitor-screenshots-container-cli img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}